@font-face {
    font-family: Phosphate;
    src: url('/static/fonts/PhosphateRR Solid.ttf')
}

@font-face {
    font-family: Andale Mono;
    src: url('/static/fonts/Andale Mono.ttf')
}


* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

#container {
    background: #1B1439;
    height: 100vh;
    overflow: hidden;
}


.login {
    margin: 8% auto 0 auto;
    width: 30%;
    height: 750px;
    background: #272048;
    padding: 2%;
    border-radius: 50px;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.7));
}

.login svg {
    margin: 25px auto 0 auto;
    width: 96px;
    height: 96px;
    display: block;
}


.login h1 {
    font: 900 3em Phosphate, sans-serif;
    color: #fff;
    text-align: center;
    filter: drop-shadow(2px 3px rgba(224, 33, 180, 0.7));
    letter-spacing: 6px;
    margin-top: 25px;
}


.login form {
    margin: 50px auto 0 auto;
    /* border: 1px solid red; */
    width: 85%;
}

.login form input {
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    border: 1px solid #707070;
    border-radius: 15px;
    padding-left: 3px;
    color: #695E9A;
    font: normal 400 1em "droid-sans", sans-serif;
    color: #695E9A;
    text-transform: uppercase;
}

.login form input::placeholder {
    padding-left: 3px;
    font: normal 400 1em "droid-sans", sans-serif;
    text-transform: uppercase;
}



.login form div {
    color: #1B1439;
    background: #C7BDF2;
    text-transform: uppercase;
    font: 900 1em "droid-sans", sans-serif;
    text-align: center;
    border-radius: 15px;
    height: 15px;
    padding: 25px 0;
    cursor: pointer;
    margin: 0 0 35px 0;
}

.login form label {
    font: 900 1em "droid-sans", sans-serif;
    color: #1B1439;
}


.login form input[type='submit'] {
    color: #1B1439;
    background: #F09CD9;
    text-transform: uppercase;
    font: 900 1em "droid-sans", sans-serif;
    border-radius: 15px;
    height: 70px;
    cursor: pointer;
}

.chat-header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(240, 156, 217, 0.2);
}

.chat-header h1 {
    font: 900 3em Phosphate, sans-serif;
    color: #fff;
    text-align: center;
    filter: drop-shadow(2px 4px 10px rgba(224, 33, 180, 0.7));
    text-shadow: inset 2px 3px 5px #000;
    letter-spacing: 2px;
    margin-top: 50px;
    -webkit-text-stroke: 0.5px #760DE0;
}

.chat-header nav {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 75px;
    padding: 50px;
}

.chat-header nav img {
    cursor: pointer;
    width: 35px;
    height: 35px;
}



.user-header {
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.01);
}



.user-header section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 16%;
    margin: 0 auto;
    padding: 1% 0 0 0;
}


.user-header img {
    width: 64px;
    height: 64px;
    border-radius: 26px;
    /* border: 1px solid red; */
}

.user-header h3 {
    font: 900 1.4em Phosphate, sans-serif;
    color: #F09CD9;
    text-align: center;
    filter: drop-shadow(2px 4px 10px rgba(224, 33, 180, 0.7));
    text-shadow: inset 2px 3px 5px #000;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.5px #760DE0;
    margin: 20px 0 0 0;
    padding: 0;
    height: 0;
    background: rgb(240, 156, 217, 0.1);
}


.message-container {
    width: 100%;
    height: 300px;
    position: fixed;
    bottom: -200px;
}

.message-list-options-container {
    display: flexbox;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(81, 60, 170, 0.39);
    width: 100%;
    height: 75px;
    padding: 15px 0;
}


.message-list-options {
    margin: 0 auto;
    width: 75%;
}


.message-list-item {
    display: inline-block;
    border: 1px solid #513CAA;
    border-radius: 10px;
    background: #261A57;
    width: 65px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.message-list-item.text {
    display: inline;
    font: 900 0.8em Phosphate, sans-serif;
    color: #F09CD9;
    padding: 15px 25px;
    line-height: 6em;
}

.message-content {
    width: 100%;
    height: 300px;
    background: #fff;
    padding: 2%;

}

.message-content div {
    display: block;
    position: absolute;
    right: 75px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    font: 900 1.4em Phosphate, sans-serif;
    color: #F09CD9;

}

.message-content textarea {
    width: 50%;
    height: 250px;
    background: #FFFAFE;
    border: 1px solid #F09CD9;
    border-radius: 25px;
    color: #772C63;
    margin: 0 auto;
    display: block;
    outline: none;
    padding: 15px 0 0 15px;
}

.overlay {
    background: rgba(27, 20, 57, 0.91);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 9 !important;
}

.menu {
    position: fixed;
    left: -400px;
    top: 25%;
    width: 100%;
    height: auto;
}

.menu div {
    text-align: center;
    margin-bottom: 75px;
    cursor: pointer;
    width: 100%;
    height: 100px;
    padding: 15px 0 0 15px;
}


.menu div a {
    font: 900 3.4em Phosphate, sans-serif;
    color: #fff;
    filter: drop-shadow(2px 4px 10px rgba(224, 33, 180, 0.7));
    text-shadow: inset 2px 3px 5px #000;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.5px #760DE0;
    cursor: pointer;
    text-decoration: none;
}

.menu div:hover {
    background: rgba(224, 33, 180, 0.7);
    filter: drop-shadow(2px 4px 10px rgba(255, 186, 239, 0.7));
    -webkit-text-stroke: 0px;
}

.close {
    position: absolute;
    top: 75px;
    right: 85px;
    font: 400 3.4em Andale Mono, sans-serif;
    color: #fff;
    cursor: pointer;
    z-index: 9 !important;
}



@media(max-width: 1440px) {
    .login {
        margin: 8% auto 0 auto;
        width: 40%;
    }
}


@media(max-width: 1000px) {
    .login {
        margin: 8% auto 0 auto;
        width: 400px;
    }

    .login h1 {
        font: 900 2em Phosphate, sans-serif;
        color: #fff;
        text-align: center;
        filter: drop-shadow(2px 3px rgba(224, 33, 180, 0.7));
        letter-spacing: 6px;
        margin-top: 25px;
    }
}