@font-face {
    font-family: Phosphate;
    src: url('/static/fonts/PhosphateRR Solid.ttf')
}

@font-face {
    font-family: Andale Mono;
    src: url('/static/fonts/Andale Mono.ttf')
}


* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

#container {
    background: #1B1439;
    height: 100vh;
    overflow: hidden;
}


.login {
    margin: 8% auto 0 auto;
    width: 30%;
    height: 750px;
    background: #272048;
    padding: 2%;
    border-radius: 50px;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.7));
}

.login svg {
    margin: 25px auto 0 auto;
    width: 96px;
    height: 96px;
    display: block;
}


.login h1 {
    font: 900 3em Phosphate, sans-serif;
    color: #fff;
    text-align: center;
    filter: drop-shadow(2px 3px rgba(224, 33, 180, 0.7));
    letter-spacing: 6px;
    margin-top: 25px;
}


.login form {
    margin: 50px auto 0 auto;
    /* border: 1px solid red; */
    width: 85%;
}

.login form input {
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    border: 1px solid #707070;
    border-radius: 15px;
    padding-left: 3px;
    color: #695E9A;
    font: normal 400 1em "droid-sans", sans-serif;
    color: #695E9A;
    text-transform: uppercase;
}

.login form input::placeholder {
    padding-left: 3px;
    font: normal 400 1em "droid-sans", sans-serif;
    text-transform: uppercase;
}



.login form div {
    color: #1B1439;
    background: #C7BDF2;
    text-transform: uppercase;
    font: 900 1em "droid-sans", sans-serif;
    text-align: center;
    border-radius: 15px;
    height: 15px;
    padding: 25px 0;
    cursor: pointer;
    margin: 0 0 35px 0;
}

.login form label {
    font: 900 1em "droid-sans", sans-serif;
    color: #1B1439;
}


.login form input[type='submit'] {
    color: #1B1439;
    background: #F09CD9;
    text-transform: uppercase;
    font: 900 1em "droid-sans", sans-serif;
    border-radius: 15px;
    height: 70px;
    cursor: pointer;
}

@media(max-width: 1440px) {
    .login {
        margin: 8% auto 0 auto;
        width: 40%;
    }
}


@media(max-width: 1000px) {
    .login {
        margin: 8% auto 0 auto;
        width: 400px;
    }

    .login h1 {
        font: 900 2em Phosphate, sans-serif;
        color: #fff;
        text-align: center;
        filter: drop-shadow(2px 3px rgba(224, 33, 180, 0.7));
        letter-spacing: 6px;
        margin-top: 25px;
    }
}