{% extends 'base.html' %}
{% block content %}

 {% include 'chat-header.html' %}
 {% if data %}
    <div class="chat-container">
        {% for item in data %}
        <div class="user-header">
            <section>  
            <img src="../static/uploads/{{ item.image }}" alt="user image">
            <h3>{{ item.username }}<h3>
            </section>    
        </div>
        
        <div class="chat-messages">

        </div>  
        {% endfor %}
    </div>
 
{% else %}
<div id="bot-message">
  <div id="bot-container">
    <img src="{{ url_for('static', filename='images/bot.svg')}}" alt="Image of Igor">
    <p> 
        Hello im Igor the InfoBot 👋 I&apos;m here to help you use FlaskChat. I see you have no friends as of yet. 
        You will need to invite them to your chat. You can do that by clicking the button to the top
        right 👉 <img src="{{ url_for('static', filename='images/menu-small-button.png') }}"> and then 
        clicking invite friends
    </p>
   </div>
</div>
{% endif %}

<div class="message-container">

    <div class="message-list-options-container">
        <div class="message-list-options">
            <div class="message-list-item">👋</div> 
            <div class="message-list-item">🫰🏾</div> 
            <div class="message-list-item">👍</div> 
            <div class="message-list-item">🫶🏿 </div> 
            <div class="message-list-item">😀</div> 
            <div class="message-list-item">😎</div> 
            <div class="message-list-item">🙁</div> 
            <div class="message-list-item">🥳</div> 
            <div class="message-list-item">😂</div> 
            <div class="message-list-item">😊</div> 
            <div class="message-list-item">😋</div> 
            <div class="message-list-item text">Hey</div> 
            <div class="message-list-item text">Goodbye</div> 
            <div class="message-list-item text">Cool</div> 
            <div class="message-list-item text" id="show">Show</div> 
        </div>  
    </div> 
    <div class="message-content">  
     <div id="hide">hide</div>   
     <textarea name="message" placeholder="Hello everyone..." required></textarea>
    </div> 
</div>

{% endblock %}